<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.or.ksmart.springboot34_34_mybatis.mapper.MMapper">
	 <select id="getlist" resultType="kr.or.ksmart.springboot34_34_mybatis.domain.Member">
	 	SELECT 
			m_id AS mId,
			m_pw AS mPw,
			m_level AS mLevel,
			m_name AS mName,
			m_email AS mEmail
		FROM 
			tb_member
	 
	 </select>
 </mapper>